*.tsbuildinfo

/node_modules
/dist
.env.local
.env
.next
/logs
/test-results
/coverage
/playwright-report
/playwright-html-report
/playwright-junit-report
/playwright-junit-report.xml
/playwright-junit-report.xml.gz
/playwright-junit-report.xml.gz.base64
/playwright-junit-report.xml.gz.base64.gz
/playwright-junit-report.xml.gz.base64.gz.base64
/playwright-junit-report.xml.gz.base64.gz.base64.gz
/e2e